mat-card-title{
    padding: 0.5em;
    color: #006a6a;
    font-weight: bold;
    font-size: 2em;
}
form{
    width: 20em;
    padding: 0.5em;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
}
mat-card{
    position: relative;
    display: flex;
    min-width: fit-content;
    height: 80%;
    min-height: fit-content;
    align-items: center;
    padding: 0.5em;
}