<mat-card>
    <mat-card-header>
        <mat-card-title>{{'profile.TITLE' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="profilForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>{{'profile.CODE' | translate }}</mat-label>
                <input matInput formControlName="code">
            </mat-form-field><br>

            <mat-form-field>
                <mat-label>{{'profile.NAME' | translate }}</mat-label>
                <input matInput formControlName="name">
            </mat-form-field><br>
      
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" >
            </mat-form-field><br>

            <mat-form-field>
                <mat-label>{{'profile.ROLE' | translate }}</mat-label>
                <input matInput formControlName="role" type="text" >
            </mat-form-field><br>

            
            <button mat-raised-button color="primary" (click)="openPasswordDialog()" >
                {{'profile.PASSWORD_CHANGE' | translate }}
            </button><br>
            <button mat-raised-button color="primary" (click)="openPasswordDialog()" >
                {{'profile.EMAIL_CHANGE' | translate }}
            </button><br>
        </form>
    </mat-card-content>
</mat-card>
