<div id="topic">
    <form [formGroup]="subjectMatterForm" (ngSubmit)="onSubmit()">
        <mat-label>Tárgytematika</mat-label><br>
        <mat-form-field>
            <mat-label>Miről szól a kurzus?</mat-label>
            <textarea matInput formControlName="topic" ></textarea>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Milyen képeségeket fogsz elsajátitani?</mat-label>
            <textarea  matInput formControlName="goal"></textarea>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Követelmények</mat-label>
            <textarea matInput formControlName="requirements"></textarea>
        </mat-form-field><br>
        <button type="submit" color="primary" mat-raised-button>Mentés</button>
    </form>
</div>
