<div>
  @if(!isPassword()){
    <h2 mat-dialog-title id="title">{{"profile.EMAIL_CHANGE" | translate}}</h2>

  }@else {
    <h2 mat-dialog-title id="title">{{"profile.PASSWORD_CHANGE" | translate}}</h2>

  }
<mat-dialog-content>
  <mat-form-field class="fields">
    <mat-label>{{"profile.CODE" | translate}}</mat-label>
    <input matInput [(ngModel)]="code" disabled="true"/>
  </mat-form-field>
  <mat-form-field class="fields">
    <mat-label>{{"profile.PASSWORD" | translate}}</mat-label>
    <input matInput type="password" [(ngModel)]="password" />
  </mat-form-field>  
  @if(!isPassword()){
    <mat-form-field class="fields">
      <mat-label>{{"profile.CURRENT_EMAIL" | translate}}</mat-label >
      <input matInput type="email" [(ngModel)]="email" disabled="true"/>
    </mat-form-field>
  }
  <mat-form-field class="fields">
    @if(!isPassword()){
      <mat-label>{{"profile.NEW_EMAIL" | translate}}</mat-label>
    }@else {
      <mat-label>{{"profile.NEW_PASSWORD" | translate}}</mat-label>
    }
    <input matInput [(ngModel)]="new" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{"GENERAL.CLOSE" | translate}}</button>
  <button mat-button [mat-dialog-close]="{password: password(), new: new()}" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
</div>
