<mat-card class="full-height">
  <mat-card-header>
    <mat-card-title>
      {{course?.name}} {{'forum.FORUM' | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="full-height">
    <div id="container">
      <div class="course-details">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              {{'forum.DATAILS' | translate }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list color="primary">
              <mat-list-item>{{'curriculum.NAME' | translate }}: {{course?.name}}</mat-list-item>
              <mat-list-item>{{'curriculum.KREDIT' | translate }} {{course?.kredit}}</mat-list-item>
              <mat-list-item>{{'curriculum.RS' | translate }}: {{course?.recommendedSemester}}</mat-list-item>
              <mat-list-item>{{'curriculum.SUBJECT_RESPONSIBLE' | translate }}: {{course?.user_code}}</mat-list-item>
              <mat-list-item >Median: ?</mat-list-item>
              <mat-list-item  class="selecteAble"  (click)="changeOption('topic')" [class.selectedOption]="option === 'topic'">Tárgytematika</mat-list-item>
              <mat-list-item class="selecteAble" (click)="changeOption('massages')" [class.selectedOption]="option === 'massages'">Forum</mat-list-item>
              <mat-list-item class="selecteAble" (click)="changeOption('statistics')" [class.selectedOption]="option === 'statistics'">Statisztikák</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="forum-container">
        @switch (option) {
          @case ("massages") {
            <app-messages [courseId]="course?.id ?? null"></app-messages>
          }
          @case ("topic") {
            <app-subject-topic></app-subject-topic>
          }          
          @case ("statistics") {
            <app-course-statistics [courseId]="course?.id ?? 0" ></app-course-statistics>
          }
          @default {<app-messages></app-messages>}
        }
      </div>
    </div>
    <button mat-raised-button (click)="back()" class="back-button">
      {{'forum.BACK' | translate }}
    </button>
  </mat-card-content>
</mat-card>