<mat-card class="full-height">
  <mat-card-header>
    <mat-card-title>
      {{course?.name}} {{'forum.FORUM' | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="full-height">
    <div id="container">
      <div class="course-details">
            <h2>{{'forum.DATAILS' | translate }}</h2><br>
            <p>{{'curriculum.NAME' | translate }}: {{course?.name}}</p>
            <p>{{'curriculum.KREDIT' | translate }} {{course?.kredit}}</p>
            <p>{{'curriculum.RS' | translate }}: {{course?.recommendedSemester}}</p>
            <p>{{'curriculum.SUBJECT_RESPONSIBLE' | translate }}: {{course?.user_code}}</p>
            <p  class="selecteAble"  (click)="changeOption('topic')" [class.selectedOption]="option === 'topic'">Tárgytematika</p>
            <p class="selecteAble" (click)="changeOption('massages')" [class.selectedOption]="option === 'massages'">Forum</p>
            <p class="selecteAble" (click)="changeOption('statistics')" [class.selectedOption]="option === 'statistics'">Statisztikák</p>
      </div>
      <div class="forum-container">
        @switch (option) {
          @case ("massages") {
            <app-messages [courseId]="course?.id ?? null"></app-messages>
          }
          @case ("topic") {
            <app-subject-topic [courseId]="course?.id ?? null"></app-subject-topic>
          }          
          @case ("statistics") {
            <app-course-statistics [courseId]="course?.id ?? 0" ></app-course-statistics>
          }
          @default {<app-messages [courseId]="course?.id ?? null" ></app-messages>}
        }
      </div>
    </div>
    <button mat-raised-button (click)="back()" class="back-button">
      {{'forum.BACK' | translate }}
    </button>
  </mat-card-content>
</mat-card>