<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{'login.TITLE' | translate}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required type="email" />
                @if (loginForm.get('email')?.invalid && 
                (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)) {
                    <mat-error>
                        @if (loginForm.get('email')?.hasError('required')) {
                            {{'login.NO_EMAIL' | translate}}
                        }
                        @if (loginForm.get('email')?.hasError('email')) {
                            {{'login.NOT_VALID_EMAIL' | translate}}
                        }
                    </mat-error>
                }
            </mat-form-field><br>

            <mat-form-field>
                <mat-label>{{'login.PASSWORD' | translate}}</mat-label>
                <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" required>
                <button mat-icon-button matSuffix (click)="clickEvent($event)" type="button">
                  <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                @if (loginForm.get('password')?.invalid && 
                (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)) {
                    <mat-error>
                    @if (loginForm.get('password')?.hasError('required')) {
                        {{'login.NO_PASSWORD' | translate}}
                    }
                    </mat-error>
                }
            </mat-form-field><br>

            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
                {{'login.LOGIN' | translate}}
            </button>
        </form>
    </mat-card-content>
</mat-card>