<mat-card>
    <mat-card-header>
        <mat-card-title>
            Bejelnetkezés
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required type="email" (blur)="updateErrorMessage()"/>
                @if (loginForm.get('email')?.invalid) {
                    <mat-error>{{errorMessage()}}</mat-error>
                  }
            </mat-form-field><br>

            <mat-form-field>
                <mat-label>Jelszó</mat-label>
                <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" required (blur)="updateErrorMessage()">
                <button mat-icon-button matSuffix (click)="clickEvent($event)" type="button">
                  <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                @if (loginForm.get('password')?.invalid) {
                    <mat-error>{{errorMessage()}}</mat-error>
                  }
            </mat-form-field><br>

            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
                Belépés
            </button>
        </form>
    </mat-card-content>
</mat-card>