<div id="forum">
    @for(message of messages; track message.id){
      <mat-card class="message">
        <mat-card-header>
          <mat-card-title>
            {{message.user_code}}
          </mat-card-title>
          <mat-card-subtitle>
            {{message.created_at | date:'yyyy.MM.dd HH:mm'}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{message.message}}
        </mat-card-content>
      </mat-card>
    }
    @empty {
      <div class="no-messages">Nincsenek üzenetek</div>
    }
  </div>
  <form [formGroup]="forumForm" (ngSubmit)="onSubmit()" class="message-form">
    <mat-form-field>
      <mat-label>{{'forum.Massage_SEND' | translate }}</mat-label>
      <textarea matInput formControlName="text"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">{{'forum.SEND' | translate }}</button>
  </form>
