<mat-card id="cardtan">
    <mat-card-header>
      <mat-card-title>{{curriculumName}}</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
    <div class="content-container">
      <div id="curriculumContiner">
      @for(special of tanterv?.specializations; track special.id){
        <mat-card  [style.display]=" specialsVis.get(special.name) ? 'block' : 'none'" class="card-spec">
          <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>{{special.name}}</mat-card-title>
                <mat-card-subtitle>{{'curriculum.MIN_KREDIT' | translate }} {{special.min}}</mat-card-subtitle>
              </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            
        @for (kat of special.categories; track kat.id) {
          <mat-card class="card-kat" [style.display]=" katsVis.get(kat.name) ? 'block' : 'none'">
            <mat-card-header >
                <mat-card-title-group>
                  <mat-card-title>{{kat.name}}</mat-card-title>
                  <mat-card-subtitle>{{'curriculum.CAT_MIN_KREDIT' | translate }} {{kat.min}} {{'curriculum.SUM' | translate }} {{kat.max}}</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <table id="{{special.name}}_{{kat.name}}" #sort="matSort" mat-table  [dataSource]="kat.courses" matSort  class="mat-elevation-z8">
                    
                    <ng-container matColumnDef="name" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> {{'curriculum.NAME' | translate }} </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id"> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="kredit">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by kredit"> {{'curriculum.KREDIT' | translate }} </th>
                        <td mat-cell *matCellDef="let element"> {{element.kredit}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="recommendedSemester">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by recommendedSemester"> {{'curriculum.RS' | translate }} </th>
                        <td mat-cell *matCellDef="let element"> {{element.recommendedSemester}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="subjectResponsible">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by subjectResponsible"> {{'curriculum.SUBJECT_RESPONSIBLE' | translate }} </th>
                        <td mat-cell *matCellDef="let element"> {{element.user_code}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="sezon">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by sezon"> {{'curriculum.SEZON' | translate }} </th>
                      <td mat-cell *matCellDef="let element"> 
                        @switch (element.sezon) {
                          @case (1) {
                            {{'curriculum.FALL' | translate }}
                          }
                          @case(0){
                            {{'curriculum.SPRING' | translate }}
                          }
                          @default {
                            {{'curriculum.FALL_SPRING' | translate }}
                          }
                        } 
                      </td>
                    </ng-container>  
                  
                    <ng-container matColumnDef="apply">
                      <th mat-header-cell *matHeaderCellDef > {{'curriculum.APPLY' | translate }} </th>
                      <td mat-cell *matCellDef="let element" > <button mat-fab (click)="apply(element)" ><mat-icon>upgrade</mat-icon></button> </td>
                    </ng-container> 
                    
                    <ng-container matColumnDef="course">
                      <th mat-header-cell *matHeaderCellDef > {{'curriculum.COURSE_FORUM' | translate }} </th>
                      <td mat-cell *matCellDef="let element" > <button mat-fab (click)="toCourseForm(element)" ><mat-icon>forum</mat-icon></button>  </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns ;"></tr>
                </table>
            </mat-card-content>
        </mat-card>
        }
        </mat-card-content>
        </mat-card>
        <br>
      }
    </div>
      

        <mat-card class="filter-card">
            <mat-card-title>{{'curriculum.FILLTER' | translate }}</mat-card-title>
            <mat-card-content>
                <form>
                  @if(this.viewMode === 'other'){
                    <mat-form-field>
                      <mat-label>{{'curriculum.CURRICULUMS' | translate }}</mat-label>
                      <mat-select (selectionChange)="CuronSelectionChange($event)" >
                        @for (cur of curs; track cur.id) {
                          <mat-option [value]="cur.id">{{cur.name}}</mat-option>
                        }
                      </mat-select>
                  </mat-form-field><br>
                  }
                    <span>
                      <mat-checkbox
                        [checked]="task().completed"
                        [indeterminate]="partiallyComplete()"
                        (change)="update($event.checked)"
                      >
                        {{task().name}}
                      </mat-checkbox>
                    </span>
                    <span>
                      <ul>
                        @for (subtask of task().subtasks; track subtask; let i = $index) {
                          <li>
                            <mat-checkbox [checked]="subtask.completed" (change)="update($event.checked, i)">
                              {{subtask.name}}
                            </mat-checkbox>
                          </li>
                        }
                      </ul>
                    </span>
                    <mat-form-field>
                        <mat-label>{{'curriculum.SPECIALIZATION' | translate }}</mat-label>
                        <mat-select (selectionChange)="SpeconSelectionChange($event)" >
                          @for (special of specialsVis.keys(); track special) {
                            <mat-option [value]="special">{{special}}</mat-option>
                          }
                        </mat-select>
                    </mat-form-field> 
                    @if(visKat){
                      <mat-form-field >
                        <mat-label  >{{'curriculum.CATEGORY' | translate }}</mat-label>
                        <mat-select  (selectionChange)="KatonSelectionChange($event)">
                          @for (kat of katsVis.keys(); track kat) {
                            <mat-option [value]="kat">{{kat}}</mat-option>
                          }
                        </mat-select>
                    </mat-form-field>

                    }                   

                    <br>
                    <mat-form-field>
                        <mat-label>{{'curriculum.GOAL' | translate }}</mat-label>
                        <mat-select (selectionChange)="GoalonSelectionChange($event)" >
                          @for (special of specialsVis.keys(); track special) {
                            <mat-option [value]="special">{{special}}</mat-option>
                          }
                        </mat-select>
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>{{'curriculum.CONDITIONS' | translate }}</mat-label>
                        <input matInput  type="text" placeholder="{{'curriculum.CONDITIONS_PLASEHOLDER' | translate }}">
                    </mat-form-field><br>
                    <button mat-button >{{'curriculum.OPTIMALIZATION' | translate }}</button>
                  </form>
            </mat-card-content>
        </mat-card>
    </div>
    </mat-card-content>
</mat-card>
