<mat-card id="cardtan">
    <mat-card-header>
      <mat-card-title>{{curriculumName}}</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
    <div class="content-container">
      <div id="curriculumContiner">
      @for(special of tanterv?.specializations; track special){
        <mat-card  [style.display]=" specialsVis.get(special.name) ? 'block' : 'none'" class="card-spec">
          <mat-card-header>
              <mat-card-title>{{special.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            
        @for (kat of special.categories; track kat) {
          <mat-card class="card-kat" [style.display]=" katsVis.get(kat.name) ? 'block' : 'none'">
            <mat-card-header >
                <mat-card-title>{{kat.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-form-field>
                <mat-label>Keresés</mat-label>
                <input matInput (keyup)="applyFilter($event, special.name, kat.name)"  #input>
              </mat-form-field>
                <table id="{{special.name}}_{{kat.name}}" #sort="matSort" mat-table  [dataSource]="kat.courseMatdata || []" matSort  class="mat-elevation-z8">
                    
                    <ng-container matColumnDef="name" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Név </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id"> Kód </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="kredit">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by kredit"> Kredit. </th>
                        <td mat-cell *matCellDef="let element"> {{element.kredit}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="recommendedSemester">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by recommendedSemester"> Ajánlott félév </th>
                        <td mat-cell *matCellDef="let element"> {{element.recommendedSemester}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="subjectResponsible">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by subjectResponsible"> Tárgyfelelős </th>
                        <td mat-cell *matCellDef="let element"> {{element.subjectResponsible}} </td>
                    </ng-container>                  
                  
                    <ng-container matColumnDef="apply">
                      <th mat-header-cell *matHeaderCellDef > Felvétel </th>
                      <td mat-cell *matCellDef="let element" > <button mat-fab (click)="apply(element.id)" ><mat-icon>upgrade</mat-icon></button> </td>
                    </ng-container> 
                    
                    <ng-container matColumnDef="course">
                      <th mat-header-cell *matHeaderCellDef > Kurzus Forum </th>
                      <td mat-cell *matCellDef="let element" > <button mat-fab (click)="toCourseForm(element.id)" ><mat-icon>forum</mat-icon></button>  </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns ;"></tr>
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>
            </mat-card-content>
        </mat-card>
        }
        </mat-card-content>
        </mat-card>
        <br>
      }
    </div>
      

        <mat-card class="filter-card">
            <mat-card-title>Szűrők</mat-card-title>
            <mat-card-content>
                <form>
                <mat-form-field>
                    <mat-label>Tantervek</mat-label>
                    <mat-select (selectionChange)="CuronSelectionChange($event)" >
                      @for (cur of curs; track cur) {
                        <mat-option [value]="cur.name">{{cur.name}}</mat-option>
                      }
                    </mat-select>
                </mat-form-field><br>
                    <span>
                      <mat-checkbox
                        [checked]="task().completed"
                        [indeterminate]="partiallyComplete()"
                        (change)="update($event.checked)"
                      >
                        {{task().name}}
                      </mat-checkbox>
                    </span>
                    <span>
                      <ul>
                        @for (subtask of task().subtasks; track subtask; let i = $index) {
                          <li>
                            <mat-checkbox [checked]="subtask.completed" (change)="update($event.checked, i)">
                              {{subtask.name}}
                            </mat-checkbox>
                          </li>
                        }
                      </ul>
                    </span>
                    <mat-form-field>
                        <mat-label>Specializáció</mat-label>
                        <mat-select (selectionChange)="SpeconSelectionChange($event)" >
                          @for (special of specialsVis.keys(); track special) {
                            <mat-option [value]="special">{{special}}</mat-option>
                          }
                        </mat-select>
                    </mat-form-field> 
                    @if(visKat){
                      <mat-form-field >
                        <mat-label  >Kategória</mat-label>
                        <mat-select  (selectionChange)="KatonSelectionChange($event)">
                          @for (kat of katsVis.keys(); track kat) {
                            <mat-option [value]="kat">{{kat}}</mat-option>
                          }
                        </mat-select>
                    </mat-form-field>

                    }                   

                    <br>
                    <mat-form-field>
                        <mat-label>Cél</mat-label>
                        <mat-select (selectionChange)="GoalonSelectionChange($event)" >
                          @for (special of specialsVis.keys(); track special) {
                            <mat-option [value]="special">{{special}}</mat-option>
                          }
                        </mat-select>
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Feltétekek</mat-label>
                        <input matInput  type="text" placeholder="+tárgy, -tárgy">
                    </mat-form-field><br>
                    <button mat-button >Optimalizálás</button>
                  </form>
            </mat-card-content>
        </mat-card>
    </div>
    </mat-card-content>
</mat-card>
