.content-container {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#matcard{
    height: 90%;
}

#cardtan{
    padding: 0.5em;
    height: 80%;
}

.card-spec {
    color: #006a6a;
    margin: 0.5em;
}
.card-kat {
    color: #006a6a;
    margin: 0.5em;
}


mat-card-content{
    min-width: fit-content;
    padding: 0;

}
#curriculumContiner{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.completed{
    background-color: #006a6a;
    color: white;
}
.applied{
    background-color: gold;
    color: white;
}
mat-card-title{
    color: #006a6a;
}


#filter{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 0.2em;
    justify-content: center;
}