<mat-card>
    <mat-card-header>
      <mat-card-title>{{curriculumName}}</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
    <div class="content-container">
        <mat-card class="table-card">
            <mat-card-header>
                <mat-card-title>{{specialization}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{category}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <table mat-table [dataSource]="courses">
                            <!-- name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Név </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
                            <!-- id Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> Kód </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                            <!-- kredit Column -->
                            <ng-container matColumnDef="kredit">
                                <th mat-header-cell *matHeaderCellDef> Kredit. </th>
                                <td mat-cell *matCellDef="let element"> {{element.kredit}} </td>
                            </ng-container>
                            <!-- recommendedSemester Column -->
                            <ng-container matColumnDef="recommendedSemester">
                                <th mat-header-cell *matHeaderCellDef> Ajánlott félév </th>
                                <td mat-cell *matCellDef="let element"> {{element.recommendedSemester}} </td>
                            </ng-container>
                            <!-- subjectResponsible Column -->
                            <ng-container matColumnDef="subjectResponsible">
                                <th mat-header-cell *matHeaderCellDef> Tárgyfelelős </th>
                                <td mat-cell *matCellDef="let element"> {{element.subjectResponsible}} </td>
                            </ng-container>
                            <!-- prerequisite Column -->
                            <ng-container matColumnDef="prerequisite">
                                <th mat-header-cell *matHeaderCellDef> Előfeltételek </th>
                                <td mat-cell *matCellDef="let element"> {{element.prerequisite}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>
        <mat-card class="filter-card">
            <mat-card-title>Szűrők</mat-card-title>
            <mat-card-content>
                <section>
                    <span>
                      <mat-checkbox
                        [checked]="task().completed"
                        [indeterminate]="partiallyComplete()"
                        (change)="update($event.checked)"
                      >
                        {{task().name}}
                      </mat-checkbox>
                    </span>
                    <span>
                      <ul>
                        @for (subtask of task().subtasks; track subtask; let i = $index) {
                          <li>
                            <mat-checkbox [checked]="subtask.completed" (change)="update($event.checked, i)">
                              {{subtask.name}}
                            </mat-checkbox>
                          </li>
                        }
                      </ul>
                    </span>
                  </section>
                  <section>
                    <mat-form-field>
                        <mat-label>Kategória</mat-label>
                        <mat-select>
                          @for (special of specials; track special) {
                            <mat-option [value]="special.value">{{special.viewValue}}</mat-option>
                          }
                        </mat-select>
                    </mat-form-field>                    
                    <mat-form-field>
                        <mat-label>Specializáció</mat-label>
                        <mat-select>
                          @for (kat of kats; track kat) {
                            <mat-option [value]="kat.value">{{kat.viewValue}}</mat-option>
                          }
                        </mat-select>
                    </mat-form-field>
                  </section><br>
                  <section>
                    <mat-form-field>
                        <mat-label>Cél</mat-label>
                        <mat-select>
                          @for (kat of kats; track kat) {
                            <mat-option [value]="kat.value">{{kat.viewValue}}</mat-option>
                          }
                        </mat-select>
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Feltétekek</mat-label>
                        <input matInput type="text" placeholder="+tárgy, -tárgy">
                    </mat-form-field><br>
                    <button mat-button >Optimalizálás</button>
                  </section>
            </mat-card-content>
        </mat-card>
    </div>
    </mat-card-content>
</mat-card>
