<mat-card>
    <mat-card-header>
        <mat-card-title>
          {{title | translate}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div #chartDiv></div>
    </mat-card-content>
    <mat-card-footer>
        <button id='prev' mat-icon-button (click)="navigatePrevious()">
            <mat-icon>arrow_back_ios</mat-icon>
          </button>
          <button id='next' mat-icon-button (click)="navigateNext()">
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
    </mat-card-footer>
</mat-card>