<nav>
    <ul>
        <li><a routerLink="/login" routerLinkActive="active">Bejelnetkezés</a></li>
        <li><a routerLink="/registration" routerLinkActive="active">Regisztráció</a></li>
        <li><a routerLink="/curriculum" routerLinkActive="active">Tanterv</a></li>
        <li><a routerLink="/curriculum-developer" routerLinkActive="active">Tanterv készitő</a></li>
        <li><a routerLink="/electronic-controller" routerLinkActive="active">Elenörző</a></li>
        <li><a routerLink="/course-forum" routerLinkActive="active">Kurzus Forum</a></li>
        <li><a routerLink="/profile" routerLinkActive="active">Profil</a></li>
    </ul>
</nav>
